@{
    ViewBag.Title = "Privacy policy";
}
<div class="container" style="background-color: rgba(70, 235, 147, 0.2); border-radius: 20px; height: 480px; width: 900px;">
    <h1 class="row justify-content-center align-items-center">ChatApp Privacy Policy</h1>
        <hr>
    <title>@ViewData["Title"]ChatApp | Privacy</title>
    <p style="font-size: 20px;"> Thanks for using ChatApp communication Service in your enterprise services. Your password is saved with 256 bit hashing tecnique.
        Your data is our responsibility, your data is not going to use for any kind of marketing purpose. Email is used for backup your account and authentication purpose only.
        Your organzation can see your chat for internal purpose only.
    </p>

</div>

