@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}
<div class="container" style="background-color: rgba(70, 235, 147, 0.2); border-radius: 20px; height: 450px; width: 900px;">
    <div class="row justify-content-center align-items-center" style="margin-top: 30px;">
        <div class="col-md-6">
            <!-- Changed to col-md-6 -->
            <br />
            <br />
            <br />
            <h1>Login to ChatApp</h1>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <!-- Changed to col-md-6 -->
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

